<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @email_address.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @email_address.contact_id %>
</p>

<%= link_to 'Edit', edit_email_address_path(@email_address) %> |
<%= link_to 'Back', email_addresses_path %>
